{
  @media screen and (min-device-width: 320px) and (max-device-width; 480px) 
}
img { max-width: 100%; }
div { background-color:#a1d7f2;}
body {
  font-family:Helvetica,Arial, sans-serif;
}
img { 
  width: 150px;
  position:relative;
  align: center;
  margin: 5px;
  top: 10px;
  left: 500px;
}
h1{font-size:40px;
  float: center;
   text-align:center;
}
h2{font-size:15px;
   text-align: center;
}
h3{font-size:15px;
   text-align: center;}
h4{
  font-size:30px;
  text-decoration:underline;
}
h5{
  font-size:30px;
  text-decoration:underline
}
h6{font-size:30px;
  text-decoration:underline;
  line-height: 1px;
  
}
